<div id="searchBar">
    <form action="/dashboard" method="GET">
        <input type="text" name="search" value="" placeholder="Search">
    </form>
    <div class="dropdown">
        <button class="dropbtn">Roles</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
</div>
