<div id="searchBar">
    <form action="/dashboard" method="GET">
        <input type="text" name="search" value="" placeholder="Search">
    </form>
    <div class="dropdown">
        <button class="dropbtn">Roles</button>
        <div class="dropdown-content">
            {% for role in roles %}
                <a href="#">{{role}}</a>
            {% endfor %}
        </div>
    </div>
</div>
