<div id="editEmployeeWindow" class="hidden">
    <button id="closeBtn">&times;</button>
    <form enctype="multipart/form-data" method="post">
        <div>
            <h2>Edit Employee</h2>
        </div>
        <div>
            <label for="image">Picture</label>
            <input type="file" name="image" id="employeeImage" value="">
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="employeeName" value="">
        </div>
        <div>
            <label for="role">Role</label>
            <input type="text" name="role" id="employeeRole" value="">
        </div>
        <div>
            <label for="blames">Blame</label>
            <input type="number" name="blames" id="employeeBlames" value="">
        </div>
        <div>
            <input id="submitBtn" type="submit" value="Submit" />
        </div>
    </form>
</div>
