{% extends "base.html.twig" %}

{% block main %}
<div class = "mainContainer">
    {% include "dashboard/_actionbar.html.twig" %}
    {% include "dashboard/_employeesList.html.twig" %}
    {% include "dashboard/_editEmployee.html.twig" %}
</div>
{% endblock %}
