
<div>
    <img src="/assets/images/logo.png" id="logo" alt="logo">
</div>
<nav>
    <ul>
        {% if employees %}
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="/add-employee">Add Employee</a>
        </li>
        <li>
            <div class="dropdown" id="profileContainer">
                <img  id="profile" src="/assets/images/profile.png" alt="profile">
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </li>
        {% else %}
        <li>
            <a href="/signup">SignUp</a>
        </li>
        <li>
            <a href="/login">LogIn</a>
        </li>
        {% endif %}

    </ul>
</nav>
