
<div>
    <a href="/"><img src="/assets/images/logo.png" id="logo" alt="logo">
</a>
    </div>
<nav>
    <ul>
        {% if authguard %}
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="/add-employee">Add Employee</a>
        </li>
        <li>
            <div class="dropdown" id="profileContainer">
                <img  id="profile" src="/assets/images/profile.png" alt="profile">
                <div class="dropdown-content">
                    <p>{{company.name}}</p>
                    <a href="/edit-company">Edit my infos</a>
                    <a id="disconnect" href="/disconnect">Logout</a>
                </div>
            </div>
        </li>
        {% else %}
        <li>
            <a href="/signup">SignUp</a>
        </li>
        <li>
            <a href="/login">LogIn</a>
        </li>
        {% endif %}

    </ul>
</nav>
