<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="assets/css/style.css" rel="stylesheet">
        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            {% include "layouts/header.html.twig" %}
            {% block actionItems %}{% endblock %}
            {% block profileArea %}{% endblock %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        {% block script %}{% endblock %}
    </body>
</html>
