<div id="loginContainer">
    <form action="/connect" method="POST">
        <div>
            <h2>Login</h2>
        </div>
        <div class="cred">
            <label for="mail">Email : </label>
            <input type="text" name="mail" id="mail" required />
            <p>{{error.mail}}</p>
        </div>
        <div class="cred">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required />
            <p>{{error.password}}</p>
        </div>
        <div>
            <input id="loginBtn" type="submit" value="Login" />
        </div>
    </form>
</div>
