<div id="addEmployeeForm">
    <form action="/employee" enctype="multipart/form-data" method="post">
        <div>
            <h2>Add New Employee</h2>
        </div>
        <div>
            <label for="image">Picture</label>
            <input type="file" name="image" id="employeeImage" value="">
            {% if error %}
                <p>error</p>
            {% endif %}
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="employeeName" value="">
            {% if error %}
                <p>error</p>
            {% endif %}
        </div>
        <div>
            <label for="role">Role</label>
            <input type="text" name="role" id="employeeRole" list="roleSuggestions" value="">
            <datalist id="roleSuggestions">
                {% for role in roles %}
                  <option value="{{ role }}">
                {% endfor %}
            </datalist>
            {% if error %}
                <p>error</p>
            {% endif %}
        </div>
        <div>
            <input id="submitBtn" type="submit" value="Submit" />
        </div>
    </form>
</div>
